@{
    ViewData["Title"] = "About Us";
}
<h1 class="text-center">^ OUR TEAM ^</h1>

<div class="text-center">
    <h5 style="color:darkslateblue">Aref Asmand </h5>
    <br />
    <h3 style="color:salmon">Isfahan University of Technology</h3>
    <h4 style="color:darkblue">Department of Electrical and Computer Engineering</h4>
    <h6>Summer 1400</h6>
</div>